# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

# IDE/OS
.vscode/
.DS_Store

# DB / data
*.db
*.sqlite3

# Build
dist/
build/

# Backups locales
app_backup_*/
backups_models/
*.bak
nul
